body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin:0;
    background-color: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
    }

.main{
    display: flex;
    height: 100vh;
}

.nav-bar{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 35px;
    width: auto;
    /* padding-top: 3px; */
    padding-left: 20px;
    justify-content: flex-start;
}

.nav{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    /* padding-left: 500px; */
    /* text-align: center; */
    align-items: center;
    width: 100%;
}

.container .homebtn{
    height: 43px;
    width: 43px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #44424271;
    color: white;
    border: none;
    /* padding: -100px; */
    margin-right: 12px;
}

.d-flex{
    background-color: rgba(67, 66, 66, 0.443);
    height: 43px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #44424271;
    width: auto;
    padding-left: 7px;
    padding-right: 8px;
    align-items: center;
}

.container .bttn{
    height: 37px;
    width: 50px;
    color: rgba(255, 255, 255, 0.663);
    background-color: transparent;
    /* padding-top: px; */
    border: none;
}

.container .form-control{
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    border-right: 1px solid white;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    flex-grow: 1;
    text-decoration: wavy;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.container .homebtn:hover{
    transform: scale(1.1);
    transition: transform 0.01s ease-in-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.container .bttn:hover{
    transform: scale(1.1);
    transition: transform 0.01s ease-in-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: white;
}

.container .d-flex:hover{
    background-color: rgba(67, 66, 66, 0.651);
    border: #ffffff17 1px solid;
    .fa-magnifying-glass{
        color: white;
    }
}

.container .d-flex:focus {
    outline:#ffffff;
    border: 20px solid white;
    border-right: 1px solid white;
}

.nav-bar .sign{
    display: flex;
    padding-right: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.sign .btn-dark{
    background-color: transparent;
    border: none;
}

.sign .btn{
    font-weight: 550;
}

.sign .btn:focus{
    outline: none;
    box-shadow: none;
}

.sign .signin:hover{
    color: red;
}

/* .sign .btn:after {
    background-color:red ;
    transform: scale(1.1);
    transition: transform 0.01s ease-in-out;
    -webkit-transition: transform 0.01s ease-in-out;
    -moz-transition: transform 0.01s ease-in-out;
    -ms-transition: transform 0.01s ease-in-out;
    -o-transition: transform 0.01s ease-in-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
} */




.sidebar{
    display: wrap;
    margin-top: 50px;
    padding-top: 20px;
    background-color: #121212;
    width: 325px;
    height: 83%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: white;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 60px;
}

.sidebar .navbaar{
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    width: 100%;
    padding-left: 25px;
    margin-bottom: 35px;
}

.navbaar .library{
    display: flex;
    width: 100%;
}

.navbaar .library .library-logo img{
    color: rgba(67, 66, 66, 0.651);
    width: 20px;
    height: 20px;
    /* padding */
    /* margin-right: 10px; */
}

.navbaar .library .library-text{
    color: rgba(173, 169, 169, 0.873);
    padding-top:4px;
    padding-left: 10px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 16px;
}

.navbaar .library .library-text:hover{
    color: rgb(203, 197, 197);
}

.sidebar .plus .plusbtn{
    padding-top: 6px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    padding-right: 9px;
    background-color: transparent ;
    color: rgba(255, 255, 255, 0.628);
    border: none;
    height: 30px;
    width: 35px;
    font-size: 19px;
}

.sidebar .plus .plusbtn:hover{
    border-radius: 90%;
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    -ms-border-radius: 90%;
    -o-border-radius: 90%;
    background-color: rgba(255, 255, 255, 0.114);

}

.box{
    height: 125px;
    width: 95%;
    margin-top: 23px;
    background-color: rgba(67, 66, 66, 0.443);
    margin-left: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding-left: 15px;
    padding-top: 12px;
    font-family: "Montserrat", serif;
}

.box .create-boldtext{
    font-weight: 600;
    font-size: 15px;
}

.box p{
    font-size: 13px;
    font-weight: 400;
    padding-top: 2px;
}

.box .btn{
    font-size: 14px;
    font-weight:550;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.box .btn:hover{
    border: #ffffff 1.8px solid;
    font-size: 89%;
}

.box2{
    height: 100%;
    width: 90%;
    margin-top: 53px;
    /* background-color:  */
    margin-left: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    /* padding-left: 5px; */
    padding-top: 70px;
    display: wrap;
}

.box2 span{
    display: table-c;
    justify-content: space-evenly;
    padding-top: 10px;
    font-size: 11.5px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.box2 div{
    font-size: 13px;
    padding-bottom: 5px;
}

.langbttn button{
    background-color: transparent;
    border: #ffffff7f 1.5px solid;
    font-size: 15px;
    margin-top: 15px;
}

.langbttn i{
    color: #121212;
    background-color: white;
    border: #ffffff 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
}

.langbttn button:hover{
    border: #ffffff 1.8px solid;
    background-color: transparent;
    font-size: 119%;
}




.main-content{
    overflow: scroll;
    background-color: #121212;
    color: white;
    flex: 1;
    height: 89.3%;
    border-radius: 8px;
    margin-top: 60px;

}

.player{
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    border-radius: 8px;
}